.wrapper {
    min-height: 100vh;
}

.wrapper.theme__light {
    background: $l-very-light-gray;
}

.wrapper.theme__dark {
    background: $d-very-dark-blue;
}


.wrapper__page.theme__light {
    background: url('../images/bg-mobile-light.jpg') $l-very-light-gray;
    background-repeat: no-repeat;

    @media (min-width: 1400px) {
        background: url('../images/bg-desktop-light.jpg') $l-very-light-gray;
        background-repeat: no-repeat;
    }

    .wrapper__form {
        background: #fff;
    
        input[type=text] {
            color: $l-dark-grayish-blue;
        }
    }

    .wrapper__main {
        background: #fff;
        box-shadow: 0px 25px 45px $l-dark-grayish-blue;
        // box-shadow: 0px 0px 45px $l-light-grayish-blue;
    }

    .label {
        color: $l-very-dark-grayish-blue;
    }

    .label.completed {
        color: $l-light-grayish-blue;
    }

    .main__top {
        border-color: $l-light-grayish-blue;
    }

    .item {
        border-color: $l-light-grayish-blue;
    }

    .searchbar__sm {
        background: #fff;
    }
    
    .searchbar {
        color: $d-dark-grayish-blue;

        li:hover {
            color: $l-very-dark-grayish-blue;
        }
    }

    .searchbar__right:hover {
        color: $l-very-dark-grayish-blue;
    }

}

.wrapper__page.theme__dark {
    background: url('../images/bg-mobile-dark.jpg') $d-very-dark-blue;
    background-repeat: no-repeat;

    @media (min-width: 1400px) {
        background: url('../images/bg-desktop-dark.jpg') $d-very-dark-blue;
        background-repeat: no-repeat;
    }

    .wrapper__form {
        background: $d-very-dark-desaturated-blue;

        input[type=text] {
            color: $d-dark-grayish-blue;
            background: $d-very-dark-desaturated-blue;
        }
            
    }

    .main__top {
        border-color: $d-very-dark-grayish-blue;
    }

    .label {
        color: $d-light-grayish-blue;
    }

    .label.completed {
        color: $d-very-dark-grayish-blue;
    } 

    .wrapper__main{
        background: $d-very-dark-desaturated-blue;
        box-shadow: 0px 25px 45px $d-very-dark-blue;
    }

    .searchbar__sm {
        background: $d-very-dark-desaturated-blue;
    }

    .item {
        border-color: $d-very-dark-grayish-blue;
    }

    
    .searchbar {
        color: $d-dark-grayish-blue;

        li:hover {
            color: $d-light-grayish-blue;
        }
    }

    .searchbar__right:hover {
        color: $d-light-grayish-blue;
    }
    

}