@font-face {
    font-family: 'josefin-bold';
    src: url('../fonts/JosefinSans-Bold.ttf');
       
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin-regular';
    src: url('../fonts/JosefinSans-Regular.ttf');
       
    font-weight: normal;
    font-style: normal;

}

