.wrapper__main {
    min-height: 200px;
    margin-top: 25px;
    font-size: 0.9rem;
    border-radius: 5px;
}

.main__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid; 
}

.label.completed {
    text-decoration: line-through;
}



.item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    font-size: 0.9rem;
    border-bottom: 1px solid;
    // overflow-x: hidden;
    padding-right: 10px;
}

.img__cross {
   position: absolute;
   top: calc(50% - 10px);
   right: calc(15px);
   cursor: pointer;
}



